{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Bank</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <header>
    <h1>{% block page_title %}Rocket Bank{% endblock %}</h1>
        <nav>
            <a href="{% url 'dashboard_home' %}" class="{% if request.path == '/dashboard/' %}active{% endif %}">Dashboard</a> |
            <a href="{% url 'categories' %}" class="{% if request.path == '/categories/' %}active{% endif %}">Categories</a> |
            <a href="{% url 'summery' %}" class="{% if request.path == '/summery/' %}active{% endif %}">Monthly Summary</a> |
            <a href="{% url 'finance_home' %}" class="finance-link {% if request.path == '/finance/' %}active{% endif %}">Finances</a>
        </nav>
        <hr>
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 PocketBank</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
