{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rocket Bank</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Rocket Bank Dashboard</h1>
        <nav>
            <a href="{% url 'dashboard_home' %}">Dashboard</a> |
            <a href="{% url 'categories' %}">Categories</a> |
            <a href="{% url 'summery' %}">Monthly Summary</a>

        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>&copy; 2025 PocketBank</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
